@import url(https://fonts.googleapis.com/css?family=Montserrat);
#msform {
  width: 200px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform:hover,
#msform:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 50%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 18px;
}
h3 {
  font-family: montserrat;
}
#final {
  font-size: 30px;
  margin-bottom: 10px;
  padding: 15px;
  font-family: montserrat;
}
.form {
  margin-left: 50px;
  margin-top: 50px;
}
.switch {
  width: 200px;
  font-weight: bold;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
.addcookie {
  cursor: pointer;
}



.body-dark {
  background-color: black;
}
.final-dark {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  padding: 15px;
  font-family: montserrat;
}
.h3-dark {
  color: white;
}